@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

.navbar, footer {
    background-color: #00425A !important;
    color: #EFF5F5 !important;
}

#hero {
    height: 21rem;
    background-image: url(../IMG/instituto.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: bold;
    color: #FC7300;
}

#titulo {
    color: #FC7300;
    background-color: #00425A;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 0.25rem 0.7rem;
    border-radius: 6px;
}
.subtitulo {
    font-weight: 700;
    color: #00425A;
}
.circulo {
    width: 80%;
    border-radius: 50%;
}
.noticia {
    border-style: solid;
    border-color: #FC7300;
    padding: 0.75rem;
    margin: 1rem;
}
#contacto {
    background-color: #00425A;
    border-radius: 0;
    width: 100%;
    text-align: center;
}
.btn-primary {
    background-color: #00425A;
}
.footer {
    padding: 1.25rem;
    margin: 0;
}
a {
    color: #EFF5F5 !important;
}
.fa-brands, .fa-solid {
    font-size: 1.35rem;
    margin-right: 0.25rem;
}

.fa-twitter {
    color: #14AED0;
}
.fa-facebook {
    color: #1476D0;
}
.fa-instagram {
    color: #CE0CFF;
}
.fa-square-whatsapp {
    color: #25D366;
}
@media screen and (min-width: 768px) {
    #nav-list {
        width: 100%;
    }
}
