#hero {
    height: 21rem;
    background-image: url(../IMG/instituto.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo {
    color: #FC7300;
    background-color: aquamarine;
    font-size: 2.5rem;
    padding: 0.25rem 0.7rem;
    border-radius: 6px;
}
.fa-brands, .fa-solid {
    font-size: 1.35rem;
    margin-right: 0.25rem;
}

.fa-twitter {
    color: #14AED0;
}
.fa-facebook {
    color: #1476D0;
}
.fa-instagram {
    color: #CE0CFF;
}
.fa-square-whatsapp {
    color: #25D366;
}
@media screen and (min-width: 768px) {
    #nav-list {
        width: 100%;
    }
}